.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #b36262;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(170, 41, 41, 0.1);
  background-color: transparent;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container .MuiTextField-root {
  margin-bottom: 20px;
}

.login-container .MuiButton-root {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #3f51b5;
}

.login-container .MuiButton-root:hover {
  background-color: #2c3e9a;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.login-container p a {
  color: #5a109a;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}
